<ul class="grid grid-cols-4 gap-4">
  @defer (when !loading()) {
    @for (board of filteredBoards(); track board.id) {
      <li
        [class]="`${ !board.collaborated ? `bg-primary-900`: 'bg-purple-900' } aspect-[4/2] p-4 text-white rounded-2xl flex gap-2`"
      >
        <div class="min-w-0 flex-1 self-end">
          <h3 class="text-lg font-semibold max-w-full truncate">{{ board.title }}</h3>
          <p class="max-w-full truncate">{{ board.description }}</p>
        </div>
        <div class="flex flex-col justify-between mb-1.5">
          <div class="flex flex-col gap-2">
            <a [routerLink]="`/board/${board.slug}`"><i class="pi pi-external-link"></i></a>
            @if (!board.collaborated) {
              <i
                class="pi pi-trash cursor-pointer"
                (click)="handleDelete(board.id, board.title)"
              ></i>
            }
          </div>
          <div class="flex flex-col gap-2">
            @if (!board.collaborated) {
              <i class="pi pi-pencil cursor-pointer" (click)="handleEditStart(board)"></i>
              <i
                class="pi pi-user-plus cursor-pointer"
                (click)="showCollaboratorsDialog(board.id)"
              ></i>
            }
          </div>
        </div>
      </li>
    } @empty {
      <p class="col-span-4 text-center">Haven't created a board yet? Create now</p>
    }
  } @placeholder {
    @for (items of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
      <li class="aspect-[4/2]">
        <p-skeleton width="100%" height="100%" borderRadius="1rem" />
      </li>
    }
  }
</ul>

<!-- Board Deletion Confirmation Dialog -->
<p-confirmdialog #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
      >
        <i class="pi pi-trash !text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex items-center gap-2 mt-6">
        <p-button label="Delete" (onClick)="onAccept()" styleClass="w-32"></p-button>
        <p-button
          label="Cancel"
          [outlined]="true"
          (onClick)="onReject()"
          styleClass="w-32"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>

<!-- Edit Dialog -->
<p-dialog
  header="Edit Board"
  [modal]="true"
  [(visible)]="IsEditDialogVisible"
  [style]="{ width: '25rem' }"
  (onHide)="handleEditDiscard()"
>
  <form [formGroup]="EditForm" (ngSubmit)="handleEditSave()">
    <p-floatlabel variant="on" class="my-4">
      <label for="title">Title</label>
      <input type="text" class="w-full" id="title" pInputText formControlName="title" />
    </p-floatlabel>
    <p-floatlabel variant="on" class="mb-4">
      <label for="description">Description (optional)</label>
      <textarea
        rows="5"
        id="description"
        fluid
        pTextarea
        formControlName="description"
        class="resize-none"
      ></textarea>
    </p-floatlabel>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="handleEditDiscard()" />
      <p-button
        label="Save"
        type="submit"
        [disabled]="!this.EditForm.valid"
        [loading]="editSaveLoading()"
      />
    </div>
  </form>
</p-dialog>
