<section class="h-dvh flex flex-col justify-center items-center">
  <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
    Signup
  </h1>
  <form
    class="flex flex-col gap-3 min-w-[25dvw] max-w-sm"
    [formGroup]="signupForm"
    (ngSubmit)="onSignup()"
  >
    <p-floatlabel variant="on">
      <label for="fullName">Full Name</label>
      <input type="text" class="w-full" id="fullName" formControlName="fullName" pInputText />
    </p-floatlabel>

    <p-floatlabel variant="on">
      <label for="email">Email</label>
      <input type="email" class="w-full" id="email" formControlName="email" pInputText />
    </p-floatlabel>

    <!-- TODO: Implement Password Checklist (Score and some other properties are available in control errors) -->
    <p-floatlabel variant="on">
      <p-password
        inputId="password"
        formControlName="password"
        fluid="true"
        feedback="true"
        toggleMask="true"
      >
        <ng-template #header>
          <div class="font-semibold text-xm mb-4">Pick a password</div>
        </ng-template>
        <ng-template #content>
          <ul class="pl-2 ml-2 my-0 leading-normal">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <label for="password">Password</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-password
        inputId="confirmPassword"
        formControlName="confirmPassword"
        fluid="true"
        fluid="true"
        toggleMask="true"
        feedback="false"
      />
      <label for="confirmPassword">Confirm Password</label>
    </p-floatlabel>
    <p-button
      label="Signup"
      [loading]="loading()"
      type="submit"
      class="disabled:cursor-not-allowed"
      [disabled]="!this.signupForm.valid"
      fluid="true"
    />
    <a [href]="continueWithGoogleLink">
      <p-button label="Continue with Google" fluid="true" variant="outlined" />
    </a>
  </form>
</section>
