<section class="h-dvh flex flex-col justify-center items-center">
  <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
    Signup
  </h1>
  <form
    class="flex flex-col gap-3 min-w-[25dvw] max-w-sm"
    [formGroup]="signupForm"
    (ngSubmit)="onSignup()"
  >
    <p-floatlabel variant="on">
      <label for="fullName">Full Name</label>
      <input type="text" class="w-full" id="fullName" formControlName="fullName" pInputText />
    </p-floatlabel>

    <p-floatlabel variant="on">
      <label for="email">Email</label>
      <input type="email" class="w-full" id="email" formControlName="email" pInputText />
    </p-floatlabel>

    <p-floatlabel variant="on">
      <label for="password">Password</label>
      <input type="password" class="w-full" id="password" formControlName="password" pInputText />
    </p-floatlabel>

    <p-floatlabel variant="on">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        class="w-full"
        id="confirmPassword"
        formControlName="confirmPassword"
        pInputText
      />
    </p-floatlabel>
    <p-button
      label="Signup"
      [loading]="loading()"
      type="submit"
      class="disabled:cursor-not-allowed"
      [disabled]="!this.signupForm.valid"
      fluid="true"
    />
    <a [href]="continueWithGoogleLink">
      <p-button label="Continue with Google" fluid="true" variant="outlined" />
    </a>
  </form>
</section>
